<ion-app>
  <ion-split-pane when="lg" contentId="main-content">
    <ion-menu [disabled]="menuDisabled" contentId="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menú</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list inset="true">
          <ion-item button routerLink="/home">Inicio</ion-item>
          <ion-item button routerLink="/clientes">Clientes</ion-item>
          <ion-item button routerLink="/productos">Productos</ion-item>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button color="medium" (click)="logout()">Cerrar sesión</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
