<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="tertiary" fill="outline" (click)="Agregar()">
        Nuevo Registro
        <ion-icon slot="end" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let p of productos">
      <ion-item>
        <ion-label>
          <h3 class="title">{{ p.nombre }}</h3>
          <p class="subtext">{{ p.categoria.descripcion }}</p>
          <p class="subtext">{{ p.descripcion }}</p>
          <p class="subtext">Precio: {{ p.precio | number:'1.2-2' }} · Stock: {{ p.stock }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>
          <ion-button color="success" (click)="editar(p)">
            <ion-icon name="create"></ion-icon>
            Editar
          </ion-button>
        </ion-item-option>

        <ion-item-option>
          <ion-button color="danger" (click)="eliminar(p.producto_id)">
            <ion-icon name="trash"></ion-icon>
            Eliminar
          </ion-button>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
